*{
  margin: 4px;
  margin-top: 20px;
}

body{
  width: 80vw;
  margin: 0 auto;
}
.Upper{
  display: flex;
}
.bottom{
  display: flex;
}


@media(max-width:800px){
  body{
    width: 100vw;
    margin: 0px;
  }

}
